.text-header{
  color: #438EFF;
}

.text-content {
  color: #002664;
}
.bg-header {
  background-color: #438EFF;
}

.bg-content {
  background-color: #002664;
}

.tour-info-card-bg {
  background-color: #F0F7FF;
}

.footer-bg-color {
  background-color: #000C25;
}

.border-accent-blue {
  border-color: rgb(67, 142, 255, 0.3);
}

body {
  font-family: 'Inter', sans-serif !important;
}